.App {
  text-align: center;
}

/* .submitButton {
  position: absolute;
  width: 100%;
  z-index: 10;
} */

/* .MuiTouchRipple-root {
  opacity: 1;
}

.MuiTouchRipple-rippleVisible {
  background-color: yellow;
  opacity: 1;
  animation: rippleAnim 550ms;
}

@keyframes rippleAnim {
  0% {
    transform: scale(0);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
} */
.glowContinue {
  content: '';
  border-radius: 0;
  border: 8px solid #b8aa15;

  position: absolute;
  z-index: 0;
  /* padding-top: 25px; */

  width: 100%;
  height: 30px;
  left: 50%;
  /* top: 50%; */
  margin-left: -50%;
  margin-top: 2px;
  animation: ring 1.0s infinite;
}

@keyframes ring {
  0% {
    width: 100%;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 102%;
    height: 50px;
    margin-left: -51%;
    margin-top: -5px;
    opacity: 0;
  }
}

.glowOnce {
  content: '';
  border-radius: 0;
  border: 8px solid #b8aa15;
  background-color: #b8aa15;

  position: absolute;
  z-index: 0;
  /* padding-top: 25px; */

  width: 100%;
  height: 35px;
  left: 50%;
  /* top: 50%; */
  margin-left: -50%;
  margin-top: 26px;
  
  animation: ring2 1.0s ;
}

@keyframes ring2 {
  0% {
    width: 100%;
    height: 36px;
    opacity: 1;
  }
  75% {
    border-radius: 0  ;
    transform: scale(1.09,1.8);
    opacity: 0;    
  }
  100% {
    border-radius: 0  ;
    transform: scale(1.09,1.8);
    opacity: 0;
  }
}

.fadeInput {
  opacity: 0;
  animation: fadeOut 2.5s ease-in-out;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}




.fadeOutput {
  opacity: 1;
  animation: fadeIn 1.0s;
}
.fadeOutput2 {
  opacity: 1;
  animation: fadeIn2 2.0s ;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn2 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.rollOutput {
  width: 100%;
  animation: rollIn 1.6s;
}

@keyframes rollIn{
  0% {
    width: 0%;
  }
  25% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.errorButton {
  animation: shake 6.3s cubic-bezier(.36,.07,.19,.97) infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
}

@keyframes shake {
  1%, 9% {
    transform: translate3d(-1px, 0, 0);
  }
  
  2%, 8% {
    transform: translate3d(2px, 0, 0);
  }

  3%, 5%, 7% {
    transform: translate3d(-4px, 0, 0);
  }

  4%, 6% {
    transform: translate3d(4px, 0, 0);
  }

  10%, 100% {
    transform: translate3d(0, 0, 0);
  }
}

.checkAppear {
  left: calc(50% + 20px);
  animation: slideRight 2.0s;
}

@keyframes slideRight {
  0% {
    left: calc(50% - 10px);
  }
  75% {
    left: calc(50% + 20px);
  }
}

.checkData {
  Opacity: 1;
  animation: checkDataAnim .3s ease-in-out
}
@keyframes checkDataAnim{
  0% {
    Opacity: 0;
  }
  100% {
    Opacity: 1;
  }
}

.fade-appear {
  opacity: 0;
}

.fade-appear-active {
  opacity: 1;
  transition: opacity 500ms linear;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms linear;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms linear;
}